:host {
  background: #000000;
  padding: 0px;
  margin: 0px;
}

.header {
  margin: 0px;
  padding: 0px;
  text-align: center;
  word-break: break-all;
  width: 100%;
}

.nav-location {
  position: fixed;
  left: 0px;
}

.link-active {
  background-color: darkmagenta;
}
