<div class="footer mb-0" >
    <img src="central technology solutions.jpg" height="70" width="150" align="middle" hspace="10" vspace="10" style="float: left; margin:10px 50px 0px 20px" />
    <div style="    overflow: hidden;
    min-width: 74%;
    color: gray;
    font-size: 12px;">
      This system is solely for the use of authorized Comcast employees and contractors.  Comcast reserves the right at any time to monitor usage of this system to ensure compliance with all applicable Comcast policies and federal regulations.  Your use of this system constitutes your consent to monitoring by Comcast, and your express agreement to use the system in compliance with applicable laws.   Any unauthorized use of or access to this system may result in a revocation of your user priviliges, other disciplinary action upto and including termination of employment or contracts, or referrals to law enforcement officials including the provision of evidence of any unauthorized use or access to law enforcement.<br /><br />
      &copy;2018 Comcast All Rights Reserved   |  <span style="color:blue">Terms and Conditions</span>
    </div>
  </div>
