<div class='app'>
  <div class='app-top'>
    <button (click)='toggleVisible()'>toggle visible</button>
    <button (click)='toggleWeekends()'>toggle weekends</button>
    (Click a date/time to add an event)
  </div>
  <div class='app-calendar' *ngIf="calendarVisible">
    <full-calendar #calendar
                    defaultView="dayGridMonth"
                    [header]="{
                          left: 'prev,next today',
                          center: 'title',
                          right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                      }"
                    [plugins]="calendarPlugins"
                    [weekends]="calendarWeekends"
                    (dateClick)="handleDateClick($event)"
                    [events]="calendarEvents">
    </full-calendar>
  </div>
</div>
