<header>
  <div class=" row navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-0">
    <div class="col-2">
      <img src="comcast.jpg" height="70" width="150" align="middle" hspace="10" vspace="10" />
    </div>
    <div class="navbar-brand  col-7">
      <a class="navbar-brand" [routerLink]="['/']">
        <h3 style="color:white"><b>Time Off Request Tool</b></h3>
      </a>
    </div>
    <div class="col-3">
      <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info mb-0">
        <app-login-menu></app-login-menu>
      </nav>
    </div>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            aria-label="Toggle navigation"
            [attr.aria-expanded]="isExpanded"
            (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark mb-3">
    <div class="navbar-collapse collapse d-sm-inline-flex" [ngClass]="{ show: isExpanded }">
      <ul class="navbar-nav flex-grow">
        <li class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link text-white" [routerLink]="['calendar']">My PTO Calendar</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-white" [routerLink]="['/']">Quota Manager</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
