<ul class="nav navbar-nav navbar-right" *ngIf="isUserAuthenticated">
  <li class="nav-item" *ngIf="fromParent != undefined && fromParent.isLeadership">
    <button class="bg-info notificationbtn" (click)="showTeamNotifications()"
            data-toggle="tooltip" data-placement="bottom" title="Team Notifications">
      <fa-layers size="1.8x">
        <fa-icon icon="users"></fa-icon>
        <fa-layers-counter [content]="fromParent.teamCounter"></fa-layers-counter>
      </fa-layers>
    </button>&nbsp;  &nbsp;
  </li>  
  <li class="nav-item">
    <span *ngIf="user != null && user != undefined">
      <button class="bg-info notificationbtn" (click)="showUserNotifications()"
                    data-toggle="tooltip" data-placement="bottom" title="User Notifications">
        <fa-layers size="1.8x">
           <fa-icon icon="user"></fa-icon>
           <fa-layers-counter [content]="fromParent.userCounter"></fa-layers-counter>
        </fa-layers>
      </button>
      <b>&nbsp;{{ user.firstName }}&nbsp;{{ user.lastName }}</b>&nbsp;
    </span>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" [routerLink]='["/logout"]' [state]='{ local: true }' title="LogOut">
      <fa-icon icon="sign-out-alt"></fa-icon>
      <b>Logout</b>
    </a>
  </li>
</ul>
<ul class="nav navbar-nav navbar-right" *ngIf="!isUserAuthenticated">
  <li class="nav-item">
    <a class="nav-link text-dark" [routerLink]='["/register"]'>
      <fa-icon icon="user-plus"></fa-icon>&nbsp;
      <b>Register</b>
    </a>
  </li>
  &emsp;
  <li class="nav-item">
    <a class="nav-link text-dar" [routerLink]='["/login"]'>
      <fa-icon icon="sign-in-alt"></fa-icon>&nbsp;
      <b>Login</b>
    </a>
  </li>
</ul>

