<ul class="nav navbar-nav navbar-right" *ngIf="isAuthenticated">
  <li class="nav-item">
    <fa-layers size="1.8x">
      <fa-icon icon="bell"></fa-icon>
      <fa-layers-counter [content]="userCounter"></fa-layers-counter>
    </fa-layers>
  </li>  &nbsp;  &nbsp;
  <li class="nav-item" *ngIf="isLeadership">
      <fa-layers size="1.8x">
        <fa-icon icon="users"></fa-icon>
        <fa-layers-counter [content]="teamCounter"></fa-layers-counter>
      </fa-layers>
  </li>  &nbsp;  &nbsp;
  <li class="nav-item">
    <span *ngIf="user != null && user != undefined">
      <fa-icon icon="user"></fa-icon>
    </span>
    <b>{{ user.FirstName }}&nbsp;{{ user.LastName }}</b>&nbsp;
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" [routerLink]='["/loggedout"]' [state]='{ local: true }' title="Loggedout">
      <fa-icon icon="sign-out-alt"></fa-icon>
      <!--<mat-icon matBadge="10">
        notifications
      </mat-icon>-->
      <b>Logout</b>
    </a>
  </li>
</ul>
<ul class="nav navbar-nav navbar-right" *ngIf="!(isAuthenticated)">
  <li class="nav-item">
    <a class="nav-link text-dark" [routerLink]='["/register"]'>
      <fa-icon icon="user-plus"></fa-icon>&nbsp;
      <b>Register</b>
    </a>
  </li>
  &emsp;
  <li class="nav-item">
    <a class="nav-link text-dar" [routerLink]='["/login"]'>
      <fa-icon icon="sign-in-alt"></fa-icon>&nbsp;
      <b>Login</b>
    </a>
  </li>
</ul>
