<div>
  <h2>Error Occurred !</h2>
  <p style="color:red" *ngIf="dialogdata.statuscode">
    Status: {{dialogdata.statuscode}}
  </p>
  <p style="color:green" *ngIf="dialogdata.title">
    Message: {{dialogdata.title}}
  </p>
  <p style="color:blue" *ngIf="dialogdata.error">
    Error: {{dialogdata.error}}
  </p>
  <p style="color:saddlebrown" *ngIf="dialogdata.reason">
    Reason: {{dialogdata.reason}}
  </p>
</div>
<button type="button"
        [mat-dialog-close]="true"
        class="btn btn-warning"
        (click)="closeMe($event)">
  Close
</button>


