<div class="text-right">
  <button (click)='toggleWeekends()'>toggle weekends</button>
</div>
<div class='app-calendar' *ngIf="calendarVisible">
  <full-calendar #calendar
                 deepChangeDetection="true"
                 defaultView="dayGridMonth"
                 [titleFormat]="{ year: 'numeric', month: 'short', day: 'numeric' }"
                 [customButtons]="options.customButtons"
                 [header]="options.header"
                 [plugins]="calendarPlugins"
                 [weekends]="calendarWeekends"
                 [events]="calendarEvents"
                 [navLinks]="true"
                 [editable]="true"
                 [eventLimit]="true"
                 [selectable]="true"
                 [height]="parent"
                 (dateClick)="handleDateClick($event)"
                 (eventClick)="handleEventClick($event)"
                 (eventRender)=" eventRender($event)">
  </full-calendar>
</div>
