<!-- 1. PTO Request  -->
<div *ngIf="!isFlexRequest">
  <div class="modal-box">
    <form [formGroup]="requestDisplayForm">
      <div class="navbar modal-title">
        <h2 mat-dialog-title>
          &nbsp;PTO Request Details
        </h2>
      </div>
      <div mat-dialog-content>
        <h3><b>PTO request</b></h3>
        <div class="row">
          <table>
            <tbody>
              <tr>
                <td style="text-align:right">Requestor:</td>
                <td style="font-weight: bold">{{ptoRequest.userId | userName }}</td>
              </tr>
              <tr>
                <td style="text-align:right">Request Type:</td>
                <td style="font-weight: bold">{{ ptoRequest.requestTypeId | requestTypeName}}</td>
              </tr>
              <tr>
                <td style="text-align:right">Status:</td>
                <td style="font-weight: bold">{{ ptoRequest.statusId | statusName }}</td>
              </tr>
              <tr>
                <td style="text-align:right">Requested on:</td>
                <td style="font-weight: bold">{{ ptoRequest.createdOn | date : 'mm/dd/yyyy'}}</td>
              </tr>
              <tr>
                <td style="text-align:right">Request for:</td>
                <td style="font-weight: bold">{{ ptoRequest.startDateTime | date : 'mm/dd/yyyy'}}</td>
              </tr>
              <tr>
                <td></td>
                <td style="font-weight: bold">{{ ptoRequest.startDateTime | date:'shortTime'}}</td>
              </tr>
              <tr *ngIf="ptoRequest.startDateTime.getFullYear() !=  ptoRequestEndDateTime.getFullYear() ||
                                 ptoRequest.startDateTime.getMonth() !=  ptoRequestEndDateTime.getMonth() ||
                                 ptoRequest.startDateTime.getDay() !=  ptoRequestEndDateTime.getDay()">                <td style="text-align:right">Request for:</td>
                <td style="font-weight: bold">{{ ptoRequest.endDateTime | date : 'mm/dd/yyyy'}}</td>
              </tr>
              <tr *ngIf="ptoRequest.startDateTime.getFullYear() !=  ptoRequestEndDateTime.getFullYear() ||
                                 ptoRequest.startDateTime.getMonth() !=  ptoRequestEndDateTime.getMonth() ||
                                 ptoRequest.startDateTime.getDay() !=  ptoRequestEndDateTime.getDay()">
                <td></td>
                <td style="font-weight: bold">{{ ptoRequest.endDateTime | date:'shortTime'}}</td>
              </tr>
              <tr>
                <td style="text-align:right">Hours:</td>
                <td style="font-weight: bold">{{ ptoRequest.hours | number : '3.2' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        Comments<br> {{ ptoRequest.description }}
      </div>
      <div mat-dialog-actions class="modal-footer ">
        <button type="button"
                class="btn btn-danger cancelbutton`"
                [mat-dialog-close]="data"
                (click)="onBack()">
          Close
        </button>
        <br />
      </div>
    </form>
  </div>
</div>

<!-- 2. Shift Swap type Flex Request  -->
<div *ngIf="isFlexRequest && isShiftSwap">
  <div class="modal-box">
    <form [formGroup]="requestDisplayForm" (ngSubmit)="acceptRequest(requestDisplayForm.value)">
      <div class="navbar modal-title">
        <h2 mat-dialog-title>
          &nbsp;Flex Request Details
        </h2>
      </div>
      <div mat-dialog-content>
        <h3><b>Review your Shift Swap request</b></h3>
        <div class="row">
          <table>
            <tbody>
              <tr>
                <td style="text-align:right">Requestor:</td>
                <td style="font-weight: bold">{{flexRequest.userId | userName }}</td>
              </tr>
              <tr>
                <td style="text-align:right">Request Type:</td>
                <td style="font-weight: bold">{{ flexRequest.flexTypeId | flexTypeName}}</td>
              </tr>
              <tr>
                <td style="text-align:right">Status:</td>
                <td style="font-weight: bold">{{ flexRequest.statusId | statusName }}</td>
              </tr>
              <tr>
                <td style="text-align:right">Requested on:</td>
                <td style="font-weight: bold">{{ flexRequest.createdOn | date : 'mm/dd/yyyy'}}</td>
              </tr>
              <tr>
                <td style="text-align:right">Current Shift:</td>
                <td style="font-weight: bold">{{ flexRequest.startDateTime | date : 'mm/dd/yyyy'}}</td>
              </tr>
              <tr>
                <td></td>
                <td style="font-weight: bold">{{ flexRequest.startDateTime | date:'shortTime'}}</td>
              </tr>
              <tr>
                <td style="text-align:right">Proposed Shift:</td>
                <td style="font-weight: bold">{{ flexRequest.anotherStartDateTime | date: 'mm/dd/yyyy'}}</td>
              </tr>
              <tr>
                <td></td>
                <td style="font-weight: bold">{{ flexRequest.anotherStartDateTime | date:'shortTime'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        Comments<br> {{ flexRequest.description }}
      </div>
      <div mat-dialog-actions class="modal-footer ">
        <button type="submit"
                class="btn btn-success"
                (click)="acceptRequest(requestDisplayForm.value)"
                [disabled]="!requestDisplayForm.valid"
                [mat-dialog-close]="data">
          Accept
        </button>
        <button class="btn btn-danger deletebutton"
                (click)="declineRequest(requestDisplayForm.value)"
                [mat-dialog-close]="data">
          Decline
        </button>
        <button type="button"
                class="btn btn-danger cancelbutton`"
                [mat-dialog-close]="data"
                (click)="onBack()">
          Cancel
        </button>
        <br />
      </div>
    </form>
  </div>
</div>

<!-- 3. Self-Shift Swap type Flex Request  -->
<div *ngIf="isFlexRequest && isSelfShiftSwap">
  <div class="modal-box">
      <div class="navbar modal-title">
        <h2 mat-dialog-title>
          &nbsp;Flex Request Details
        </h2>
      </div>
      <div mat-dialog-content>
        <h3><b>Review your Self Shift Swap request</b></h3>
        <div class="row">
          <table>
            <tbody>
              <tr>
                <td style="text-align:right">Requestor:</td>
                <td style="font-weight: bold">{{flexRequest.userId | userName }}</td>
              </tr>
              <tr>
                <td style="text-align:right">Request Type:</td>
                <td style="font-weight: bold">{{ flexRequest.flexTypeId | flexTypeName}}</td>
              </tr>
              <tr>
                <td style="text-align:right">Status:</td>
                <td style="font-weight: bold">{{ flexRequest.statusId | statusName }}</td>
              </tr>
              <tr>
                <td style="text-align:right">Requested on:</td>
                <td style="font-weight: bold">{{ flexRequest.createdOn | date : 'mm/dd/yyyy'}}</td>
              </tr>
              <tr>
                <td style="text-align:right">Work Day:</td>
                <td style="font-weight: bold">{{ flexRequest.startDateTime | date : 'mm/dd/yyyy'}}</td>
              </tr>
              <tr>
                <td style="text-align:right">Off Day:</td>
                <td style="font-weight: bold">{{ flexRequest.anotherStartDateTime | date: 'mm/dd/yyyy'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        Comments<br> {{ flexRequest.description }}
      </div>
      <div mat-dialog-actions class="modal-footer ">
        <button type="button"
                class="btn btn-danger cancelbutton`"
                [mat-dialog-close]="data"
                (click)="onBack()">
          Close
        </button>
        <br />
      </div>
  </div>
</div>


<!-- 4. Shift Slide type Flex Request  -->
<div *ngIf="isFlexRequest && (isShiftSlide || isPreArrangedShiftSlide)">
  <div class="modal-box">
      <div class="navbar modal-title">
        <h2 mat-dialog-title>
          &nbsp;Flex Request Details
        </h2>
      </div>
      <div mat-dialog-content>
        <h3><b>Review your Shift Slide request</b></h3>
        <div class="row">
          <table>
            <tbody>
              <tr>
                <td style="text-align:right">Requestor:</td>
                <td style="font-weight: bold">{{flexRequest.userId | userName }}</td>
              </tr>
              <tr>
                <td style="text-align:right">Request Type:</td>
                <td style="font-weight: bold">{{ flexRequest.flexTypeId | flexTypeName}}</td>
              </tr>
              <tr>
                <td style="text-align:right">Status:</td>
                <td style="font-weight: bold">{{ flexRequest.statusId | statusName }}</td>
              </tr>
              <tr>
                <td style="text-align:right">Requested on:</td>
                <td style="font-weight: bold">{{ flexRequest.createdOn | date : 'mm/dd/yyyy'}}</td>
              </tr>
              <tr>
                <td style="text-align:right">Shift Slide On:</td>
                <td style="font-weight: bold">{{ flexRequest.startDateTime | date : 'mm/dd/yyyy'}}</td>
              </tr>
              <tr>
                <td style="text-align:right">Move:</td>
                <td style="font-weight: bold">
                  <span *ngIf="flexRequest.isForward">&nbsp;Forward</span>
                  <span *ngIf="!flexRequest.isForward">&nbsp;Backward</span>
                </td>
              </tr>
              <tr>
                <td style="text-align:right">Hours:</td>
                <td style="font-weight: bold">{{ flexRequest.hours | number:'3.2' }}</td>
              </tr>
              <tr>
                <td style="text-align:right">Current Shift Start Time:</td>
                <td style="font-weight: bold">{{ flexRequest.startDateTime | date : 'shortTime' }}</td>
              </tr>
              <tr>
                <td style="text-align:right">End Time:</td>
                <td style="font-weight: bold">{{ flexRequest.endDateTime | date : 'shorTime' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        Comments<br> {{ flexRequest.description }}
      </div>
      <div mat-dialog-actions class="modal-footer ">
        <button type="button"
                class="btn btn-danger cancelbutton`"
                [mat-dialog-close]="data"
                (click)="onBack()">
          Close
        </button>
        <br />
      </div>
  </div>
</div>
