<div fxLayout="row">
  <!--<div class=" row header topbar-location navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-0">-->
  <div class=" header navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-0">
    <div class="col-2">
      <img src="comcast.jpg" height="70" width="150" align="middle" hspace="10" vspace="10" />
    </div>
    <div class="col-7" align="center">
      <h3 style="color:white"><b>Time Off Request Tool</b></h3>
    </div>
    <div class="col-3">
      <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info mb-0">
        <app-login-nav-menu [isAuthenticated]="isAuthenticated"></app-login-nav-menu>
      </nav>
    </div>
  </div>
  <!--</div>-->
  </div>
