<div class="modal-box">
  <div class="navbar modal-title">
    <h2 mat-dialog-title>
      &nbsp;&nbsp;
      <span *ngIf="quotaeditorForm.get('isNewEvent').value">New</span>
      <span *ngIf="!quotaeditorForm.get('isNewEvent').value">Edit</span>
      &nbsp;Schedule Flexibility Options
    </h2>
  </div>
  <form [formGroup]="flexeditorForm" (ngSubmit)="saveFlex(flexeditorForm.value)">
    <div mat-dialog-content>
      <div class="row">
        <div class="col-5 form-group">
          <label for="requestTypeId">Select your Flex option</label>
          &nbsp;&nbsp;
          <div *ngFor="let flex of flexTypes">
            <label for="{{flex.name}}">
              <input id="{{flex.name}}" type="radio" name="flex" [(ngModel)]="flex.id">
              {{flex.name}}
            </label>
          </div>
        </div>
        </div>
        <hr />
        <div class="col-6">
          <b>
            <span size="font-size:40px;">Shift your start and end time</span><br />
            Choose your current shift
          </b><br />
          <div class="col-3">
            Start Time
            <input type="time"
                   formControlName="startTime"
                   placeholder="HH:mm"
                   name="startTime"
                   step=1800> <!--30 minutes-->
          </div>
          <div class="col-3">
            End Time
            <input type="time"
                   formControlName="endTime"
                   placeholder="HH:mm"
                   name="startTime"
                   step=1800> <!--30 minutes-->
          </div>
          <div class="col-6">
            <b>
              <span size="font-size:40px;">Choose your shift slide details</span><br />
            </b><br />
            <div class="col-3">
              <label for="moveforward">
                <input id="moveforward" type="radio" name="flex" [(ngModel)]="flex.moveForward">
                Move forward
              </label>
              <label for="movebackward">
                <input id="movebackward" type="radio" name="flex" [(ngModel)]="flex.moveBackward">
                Move backward
              </label>
            </div><br />
            <input type="number"
                   formControlName="hours"
                   size="3"
                   step="1"
                   min="0"
                   required
                   style="width:20%"> Hours&nbsp;&nbsp;
            <input type="number"
                   formControlName="minutes"
                   size="2"
                   step="30"
                   min="0"
                   max="30"
                   style="width:15%"> Minutes
          </div>
        </div>
      <div style="color:red;" *ngIf="flexeditorForm.hasError('invalidHours')">
        Shift Slide Request Hours with Minutes should match difference between Start and End Time periods.
      </div>
      <br *ngIf="!flexeditorForm.hasError('invalidHours')" />
      <div class="row">
          On Date
          <div class="input-group">
            <input ngbDatepicker #dp
                   formControlName="startDate"
                   placeholder="mm/dd/yyyy"
                   #dpstartDate="ngbDatepicker"
                   name="startDate"
                   size="10"
                   required
                   placement="bottom-left"
                   (dateChange)="changeStartDateEvent($event)">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="dpstartDate.toggle()" type="button">📅</button>
            </div>
          </div>
        </div>
      <br />
      Description
      <input type="text"
             formControlName="description"
             style="width:75%"
             maxlength="50">
   </div>
   <div mat-dialog-actions class="modal-footer ">
      <button type="submit"
              class="btn btn-success"
              (click)="saveFlex(flexeditorForm.value)"
              [disabled]="!flexeditorForm.valid"
              [mat-dialog-close]="data">
        Request {{flexTypes.name}}
      </button>
      <span *ngIf="!flexeditorForm.get('isNewEvent').value">
        <button class="btn btn-danger deletebutton"
                (click)="deleteFlex(flexeditorForm.value)"
                [mat-dialog-close]="data">
          Delete Flex
        </button>
      </span>
      <button type="button"
              class="btn btn-danger cancelbutton`"
              [mat-dialog-close]="data"
              (click)="onNoClick()">
        Cancel
      </button>
      <br />
   </div>
  </form>
</div>
