<div class="modal-box">
  <div class="navbar modal-title">
    <h2 mat-dialog-title>
      &nbsp;&nbsp;
      <span *ngIf="flexeditorForm.get('isNewEvent').value">New</span>
      <span *ngIf="!flexeditorForm.get('isNewEvent').value">Edit</span>
      &nbsp;Schedule Flexibility Options
    </h2>
  </div>
  <form [formGroup]="flexeditorForm" (ngSubmit)="saveFlex(flexeditorForm.value)">
    <div mat-dialog-content>
      <div class="row">
        <div class="col-12">
          <span size="font-size:40px;"><b>Select your Flex option</b></span>
        </div>
      </div>
       <div class="row col-12">
          <span *ngFor="let flextype of flexTypes">
            <label for="{{flextype.name}}">
              <input id="{{flextype.name}}" type="radio" [value]="flextype.id" name="flexTypeId" formControlName="flexTypeId">
              {{flextype.name}}&nbsp;&nbsp;&nbsp;
            </label>
          </span>
      </div><hr>
      <div class="row">
        <div class="col-6">
          <span size="font-size:40px;"><b>Shift your start and end time</b></span><br />
          <b>Choose your current shift</b>
        </div>
        <div class="col-6">
          <br /><span size="font-size:40px;"><b>Choose your shift slide details</b></span><br />
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          Start Time
          <input type="time"
                  formControlName="startTime"
                  placeholder="HH:mm"
                  name="startTime"
                  step=1800> <!--30 minutes-->
        </div>
        <div class="col-3">
          End Time
          <input type="time"
                  formControlName="endTime"
                  placeholder="HH:mm"
                  name="startTime"
                  step=1800> <!--30 minutes-->
        </div>
        <div class="col-6">
          <label for="moveforward">
            <input id="moveforward" type="radio" name="isForward" formControlName="isForward" value="true">
            Move forward
          </label>&nbsp;&nbsp;&nbsp;
          <label for="movebackward">
            <input id="movebackward" type="radio" name="isForward" formControlName="isForward" value="false">
            Move backward
          </label><br />
          <input type="number"
                 formControlName="hours"
                 size="3"
                 step="1"
                 min="0"
                 required
                 style="width:20%"> Hours&nbsp;&nbsp;
          <input type="number"
                 formControlName="minutes"
                 size="2"
                 step="30"
                 min="0"
                 max="30"
                 style="width:15%"> Minutes
        </div>
      </div>
      <div style="color:red;" *ngIf="flexeditorForm.hasError('invalidHours')">
        Shift Slide Request Hours with Minutes should match difference between Start and End Time periods.
      </div>
      <br *ngIf="!flexeditorForm.hasError('invalidHours')" />
      <div class="row">
        <div class="col-6">
          On Date
          <div class="input-group">
            <input ngbDatepicker #dp
                   formControlName="onDate"
                   placeholder="mm/dd/yyyy"
                   #dpOnDate="ngbDatepicker"
                   name="onDate"
                   size="10"
                   required
                   placement="bottom-left"
                   (dateChange)="changeOnDateEvent($event)">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" type="button">📅</button>
            </div>
          </div>
        </div>
        <div class="col-6">
        Description<br/>
        <input type="text"
               formControlName="description"
               style="width:75%"
               maxlength="50">
        </div>
      </div>
     </div>
     <div mat-dialog-actions class="modal-footer ">
        <button type="submit"
                class="btn btn-success"
                (click)="saveFlex(flexeditorForm.value)"
                [disabled]="!flexeditorForm.valid"
                [mat-dialog-close]="data">
          Submit Flex
        </button>
        <span *ngIf="!flexeditorForm.get('isNewEvent').value">
          <button class="btn btn-danger deletebutton"
                  (click)="deleteFlex(flexeditorForm.value)"
                  [mat-dialog-close]="data">
            Delete Flex
          </button>
        </span>
        <button type="button"
                class="btn btn-danger cancelbutton`"
                [mat-dialog-close]="data"
                (click)="onNoClick()">
          Cancel
        </button>
        <br />
     </div>
  </form>
</div>
