<br><br>
    <div class="container">
      <table class="table table-striped table-bordered table-hovertable-sm table-responsive">
        <caption>List of PTO and Flex Requests</caption>
        <thead>
          <tr class="table-dark">
            <th>Requestor</th>
            <th>Request Type</th>
            <th>Description</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let request of userRequestList">
            <td>{{ request.userId | userName }}</td>
            <td>{{ request.requestTypeId }}</td>
            <td>{{ request.startDateTime | date: 'short' }}&nbsp;--&nbsp;{{ request.endDateTime | date:'short' }}&nbsp;</td>
            <td>{{ request.statusId | statusName }}</td>
            <td><a class="link" [routerLink]="['/requestdisplay', {{ request.Id }}]">Open</a></td>
          </tr>
          <tr *ngFor="let flex of userFlexList">
            <td>{{ flex.flexTypeId | flexName }}</td>
            <td>{{ flex.name }}</td>
            <td>{{flex.startDateTime | date: 'short'}}&nbsp;--&nbsp;{{ flex.endDateTime | date:'short' }}&nbsp;</td>
            <td>{{ flex.statusId | statusName }}</td>
            <td><a class="link" [routerLink]="['/requestdisplay', {{flex.Id}}]">Open</a></td>
          </tr>
        </tbody>
      </table>
    </div>
