<!-- main app container -->
<div class="card m-3">
  <h5 class="card-header">
    <span *ngIf="isNewUser">Register New</span>
    <span *ngIf="!isNewUser">Edit</span>
    &nbsp;User
  </h5>
  <div class="card-body">
    <form [formGroup]="userForm" (submit)="login(userForm.value)">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-3">
          User Name<br />
          <input type="email" formControlName="userName" name="userName" class="form-control">
          <div *ngIf="u.userName.errors">
            <div *ngIf="u.userName.touched && u.userName.errors.required" class="error">User Name is required</div>
          </div>
        </div>
        <div class="col-3">
          Password<br />
          <input type="password" formControlName="password" name="password" class="form-control">
          <div *ngIf="u.password.errors">
            <div *ngIf="u.password.touched && u.password.errors.required" class="error">Password is required</div>
          </div>
        </div>
        <div class="col-3">
          <br />
          <button type="submit" class="btn btn-success">
            Create/Edit Profile
          </button>
        </div>
      </div>
      <hr />
    </form>
    <!--other properties of user--> 
    <div *ngIf="showProfile">
      <form formGroup="registerForm" (submit)="register(registerForm.value)">
        <div class="form-row">
          <div class="col-1"></div>
          <div class="col-3">
            <label for="firstName">First Name</label><br />
            <input type="text" id="firstName" name="firstName" formControlName="firstName" required>
            <br />
          </div>
          <div class="col-1"></div>
          <div class="col-3">
            <label for="lastName">Last Name</label><br />
            <input type="text" id="lastName" name="lastName" formControlName="lastName" required>
            <br />
          </div>
          <div class="col-1"></div>
          <div class="col-3">
            <label for="ntLogin">NTLogin</label><br />
            <input type="text" id="ntLogin" name="ntLogin" formControlName="ntLogin" required>
            <br />
          </div>
        </div>
        <div class="form-row">
          <div class="col-1"></div>
          <div class="col-3">
            <label for="emailAddress">Email Address</label><br />
            <input type="email" id="emailAddress" name="emailAddress" formControlName="emailAddress" required>
            <br />
          </div>
          <div class="col-1"></div>
          <div class="col-3">
            <label for="locationId">Location</label><br />
            <select id="locationId" formControlName="locationId" required (change)="onLocationChange(locationId.value)">
              <option *ngFor="let location of locations" [(value)]="location.id">{{ location.name }}</option>
            </select>
          </div>
          <div class="col-1"></div>
          <div class="col-3">
            <label for="report2UserId">Reporting Manager</label><br />
            <select class="form-control" id="report2UserId" formControlName="report2UserId" required>
              <option *ngFor="let leadership of leadershipUsers" [(value)]="leadership.id">{{ leadership.firstName }} {{ leadership.lastname }} - {{ leadership.ntLogin }}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="col-1"></div>
          <div class="col-3">
            <label for="roleId">Role</label><br />
            <select class="form-control" id="roleId" formControlName="roleId" required>
              <option *ngFor="let role of roles" [(value)]="role.id">{{ role.name }}</option>
            </select>
          </div>
          <div class="col-1"></div>
          <div class="col-3">
            <label for="teamId">Team Function</label><br />
            <select class="form-control" id="teamId" formControlName="teamId" required>
              <option *ngFor="let team of teams" [(value)]="team.id">{{ team.name }}</option>
            </select>
          </div>
        </div>
        <div class="text-center">
            <button type="submit"
                    class="btn btn-success"
                    [disabled]="!registerForm.valid">
              Register User
            </button>&nbsp;
            <button class="btn btn-danger deletebutton"
                    (click)="deleteUser(registerForm.get('id').value)">
              Delete User
            </button>&nbsp;
            <button class="btn btn-secondary" type="reset" (click)="onReset()">Clear Form</button>
            <button type="button"
                  class="btn btn-danger cancelbutton`"
                  (click)="onBack()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
